{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    投稿詳細
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <div>
            <p>タイトル：{{object.title}}</p>
            <p>投稿者：{{object.author}}</p>
            <p>内容：{{ object.content }}</p>
            <p><img src="{{ object.images.url }}" width=300 alt=""></p>
            <a href="{% url 'good' object.pk %}" class="btn btn-primary " role="button" aria-disabled="true">いいね</a>
            <a class="btn btn-secondary " role="button" aria-disabled="true">Link</a>
        </div>
    </div>
    <a href="{% url 'list' %}">戻る</a>
</div>

{% endblock content %}